<main role="main" class="inner cover">
  <h1 class="cover-heading">Would you like to work together?</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <h3>Phone Number</h3>
  <p class="lead">
    <%= number_to_phone "5199916421" %>
  </p>
  <h3>Email</h3>
  <p class="lead">
    <a href="mailto:navroopsingh1@gmail.com?subject=Contact" "Email Me">Email Me</a>
  </p>
  <h3>Address</h3>
  <p class="lead">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2891.9514672239443!2d-80.24741708459227!3d43.54505356743531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b9aec9ed9dd91%3A0xecf80f8e7bb953ba!2sNorthern+Village!5e0!3m2!1sen!2sca!4v1558819011204!5m2!1sen!2sca" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </p>
</main>

